node_modules
.vscode

parsers/wanakana.min.js

jlpt_data/*.doc
ipa-dict.txt

dict.json
JMdict*
jlpt_mismatches.json
dict_vulgar.json
kanjidic2.*
kanji_data.json
kanjidex.json

ui/dicts
parsers/levels.txt