:root {
    --base-font-size: 16px;
    --wrong-answer-font-size: calc(var(--base-font-size) * 1.5);
    --answer-input-font-size: calc(var(--base-font-size) * 2);
    --question-hint-font-size: calc(var(--base-font-size) * 2);
    --question-kanji-font-size: calc(var(--base-font-size) * 4);
    
    --info-width: 50%;
    --info-min-width: 300px;
    --info-max-width: 500px;
}

@font-face {
    font-family: 'KantoreFont';
    src: 
        local('Noto Sans CJK JP'),
        url('fonts/Noto/NotoSansJP-Regular.ttf');
}

body {
    margin: 0;
    font-size: var(--base-font-size);
    font-family: KantoreFont, sans-serif;
}

#level-exp {
    position: absolute;
    right: 12px;
    background-color: antiquewhite;
}

.level-exp-container {
    width: 100px;
    height: 10px;
    background: #000000;
    border: 5px ridge #000000;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 3px 3px 3px #000000;
    margin-bottom: 5px;
}

#level-current-level-exp-content {
    background: linear-gradient(90deg, #00ff00, #00cc00);
}

.level-exp-content {
    height: 10px;
    background: linear-gradient(90deg, #00ffea, #00ccbb);
}

#question {
    text-align: center;
    background-color: #7fffd4;
}

#question-hint {
    font-size: var(--question-hint-font-size);
}

#question-kanji {
    font-size: var(--question-kanji-font-size);
}

#answer {
    text-align: center;
    background-color: #b5fff9;
}

#wrong-answer {
    font-size: var(--wrong-answer-font-size);
    color: #ff0000;
}

#answer-input {
    text-align: center;
    background: transparent;
    border: none;
    outline: none;
    font-size: var(--answer-input-font-size);
    width: 99%;
}

#info {
    margin-left: auto;
    margin-right: auto;
    width: var(--info-width);
    max-width: var(--info-max-width);
    min-width: var(--info-min-width);
}

#info > * {
    margin-top: 10px;
}

#meaning-panel {
    background-color: #deb887;
}

.summary-panel {
    padding: 3px 10px;
}

.buttons-panel {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

#meaning-content {
    background-color: #afa1a1;
}

.meaning-entry {
    padding: 10px;
}

#hint-panel {
    background-color: #78c990;
}

.controls-panel {
    position: relative;
}

#hint-controls-panel {
    background-color: #c77ec7;
}

#hint-content {
    background-color: #9787de;
}

#hint-content {
    padding: 10px;
}

.content-group {
    border-radius: 5px;
    overflow: hidden;
}

summary {
    cursor: pointer;
}

.level-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#level-up-hint {
    --bigger-by: 20px;

    width: calc(var(--info-width) + var(--bigger-by));
    max-width: calc(var(--info-max-width) + var(--bigger-by));
    min-width: calc(var(--info-min-width) + var(--bigger-by));
    border-radius: 5px;
    background-color: #78c990;
    box-shadow: 5px 5px 5px #000000;
}

#level-up-text {
    display: flex;
    text-align: center;
    background-color: #78c6c9;
}

#black-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
}

.fade-hidden {
    display: none;
    opacity: 0;
}

.exp-max {
    color: #d10404;
}

.exp-max-chars-container {
    display: inline-flex;
}

.jumpable {
    position: relative;
    top: 0px;
    left: 0px;
}

details {
    --animation-duration: 0.2s;
}

details > summary ~ * {
    transform-origin: top;
}

details[open] > summary ~ * {
    animation: open var(--animation-duration);
}

details.closing > summary ~ * {
    animation: close var(--animation-duration);
}

details > summary {
    list-style-type: '';
}

details > summary::before {
    content: url('icons/expand_circle_down.svg');
    display: inline-block;
    transition-property: transform;
    transition-duration: var(--animation-duration);
    transform: rotate(-90deg);
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: -0.25rem;
}

details[open] > summary::before {
    transform: unset;
}

details.closing > summary::before {
    transform: rotate(-90deg);
}

@keyframes open {
    0% {
        transform: scaleY(0);
        height: 0px;
    }
    100% {
        /* empty */
    }
}

@keyframes close {
    0% {
        /* empty */
    }
    100% {
        transform: scaleY(0);
        height: 0px;
    }
}

.icon-button {
    width: 24px;
    height: auto;
    padding: 0px;
    background: none;
    border: 0px;
}

.icon-button:enabled {
    cursor: pointer;
}

.icon-button:enabled:hover {
    filter: invert(90%);
}

.icon-button:disabled {
    filter: invert(75%);
}

.columns-container {
    display: flex;
    flex-wrap: wrap;
}

.column-half-width {
    flex-basis: 50%;
}

#level-up-hint-panel {
    text-align: center;
}