:root {
    --base-font-size: 16px;
    --wrong-answer-font-size: 1.5em;
    --answer-input-font-size: 2em;
    --question-hint-font-size: 2em;
    --question-kanji-font-size: 4em;
    
    --info-width: 50%;
    --info-min-width: 300px;
    --info-max-width: 500px;

    --darkened-opacity: 50%;

    --palette-main-color: #123456;
    --palette-secondary-color: #476288;
    --palette-text-color: #ddf2ff;
    --palette-secondary-text-color: #dca11d;

    --palette-text-color-filter:
        invert(90%) sepia(9%) saturate(676%) hue-rotate(180deg) brightness(102%) contrast(101%)
        drop-shadow( 1px  0px 0px #000000) 
        drop-shadow(-1px  0px 0px #000000)
        drop-shadow( 0px  1px 0px #000000) 
        drop-shadow( 0px -1px 0px #000000);

    /* This variable will be changes with javascript */
    --icon-brightness: 100%;
}

@font-face {
    font-family: 'KantoreFont';
    src: 
        local('Noto Sans CJK JP'),
        url('fonts/Noto/NotoSansJP-Regular.ttf');
}

body {
    margin: 0;
    font-size: var(--base-font-size);
    font-family: KantoreFont, sans-serif;

    background-color: var(--palette-main-color);
    color: var(--palette-text-color);
    -webkit-text-stroke: #000000 2px;
    paint-order: stroke fill;
}

#level-exp {
    position: absolute;
    right: 12px;
}

.level-exp-container {
    width: 100px;
    height: 10px;
    background: #000000;
    border: 5px ridge #000000;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 3px 3px 3px #000000;
    margin-bottom: 5px;
}

#level-current-level-exp-content {
    background: linear-gradient(90deg, #00ff00, #00cc00);
}

.level-exp-content {
    height: 10px;
    background: linear-gradient(90deg, #00ffea, #00ccbb);
}

#question {
    text-align: center;
}

#question-hint {
    font-size: var(--question-hint-font-size);
}

#question-kanji {
    font-size: var(--question-kanji-font-size);
}

#answer {
    text-align: center;
}

#wrong-answer, .exp-max {
    color: var(--palette-secondary-text-color);

}

#wrong-answer {
    font-size: var(--wrong-answer-font-size);
}

#answer-input {
    text-align: center;
    background: transparent;
    border: none;
    outline: none;
    font-size: var(--answer-input-font-size);
    width: 99%;
    color: inherit;
}

#info {
    margin-left: auto;
    margin-right: auto;
    width: var(--info-width);
    max-width: var(--info-max-width);
    min-width: var(--info-min-width);
}

#info > * {
    margin-top: 10px;
}

.summary-panel {
    padding: 3px 10px;
}

.buttons-panel {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.meaning-entry {
    padding: 10px;
}

.controls-panel {
    position: relative;
}

#hint-content {
    padding: 10px;
}

.content-group {
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--palette-secondary-color);
}

summary {
    cursor: pointer;
}

.level-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#level-up-hint {
    --bigger-by: 20px;

    width: calc(var(--info-width) + var(--bigger-by));
    max-width: calc(var(--info-max-width) + var(--bigger-by));
    min-width: calc(var(--info-min-width) + var(--bigger-by));
    border-radius: 5px;
    background-color: var(--palette-secondary-color);
    box-shadow: 5px 5px 5px #000000;
}

#level-up-text {
    display: flex;
    gap: 0.25em;
    text-align: center;
    color: var(--palette-secondary-text-color);
    font-size: 3em;
    -webkit-text-stroke: var(--palette-main-color) 0.5em;
}

#black-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: var(--darkened-opacity);
}

.fade-hidden {
    display: none;
    opacity: 0;
}

.exp-max-chars-container {
    display: inline-flex;
}

.jumpable {
    position: relative;
    top: 0px;
    left: 0px;
}

details {
    --animation-duration: 0.2s;
}

details > summary ~ * {
    transform-origin: top;
}

details[open] > summary ~ * {
    animation: open var(--animation-duration);
}

details.closing > summary ~ * {
    animation: close var(--animation-duration);
}

details > summary {
    list-style-type: '';
}

details > summary::before {
    content: url('icons/expand_circle_down.svg');
    display: inline-block;
    transition-property: transform;
    transition-duration: var(--animation-duration);
    transform: rotate(-90deg);
    width: 1.25em;
    height: 1.25em;
    vertical-align: -0.25em;
    filter:
        var(--palette-text-color-filter)
        brightness(var(--icon-brightness));
    transition: filter var(--details-arrow-transition-time, 0.2s);
}

details[open] > summary::before {
    transform: unset;
}

details.closing > summary::before {
    transform: rotate(-90deg);
}

@keyframes open {
    0% {
        transform: scaleY(0);
        height: 0px;
    }
    100% {
        /* empty */
    }
}

@keyframes close {
    0% {
        /* empty */
    }
    100% {
        transform: scaleY(0);
        height: 0px;
    }
}

#level-up-container {
    /* Redefining to prevent it from being changed with javascript */
    --icon-brightness: 100%;
}

.icon-button {
    width: calc(var(--base-font-size) * 1.5);
    height: auto;
    padding: 0px;
    background: none;
    border: 0px;
    filter:
        var(--palette-text-color-filter)
        brightness(var(--icon-brightness));
    transition: filter 0.1s;
}

.icon-button:enabled {
    cursor: pointer;
}

.icon-button:enabled:hover {
    filter: 
        var(--palette-text-color-filter)
        brightness(250%)
        brightness(var(--icon-brightness));
}

.icon-button:disabled {
    filter:
        var(--palette-text-color-filter)
        invert(75%)
        brightness(var(--icon-brightness));
}

.columns-container {
    display: flex;
    flex-wrap: wrap;
}

.column-half-width {
    flex-basis: 50%;
}

#level-up-hint-panel {
    text-align: center;
    color: var(--palette-secondary-text-color);
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in-out {
    animation: fade-in-out 4s forwards;
}

#particles-js {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}