:root {
    --base-font-size: calc(max(0.9vw, 16px));
    --wrong-answer-font-size: 1.5em;
    --answer-input-font-size: 2em;
    --question-hint-font-size: 2em;
    --question-kanji-font-size: 4em;
    --title-font-size: 5em;
    --title-sub-font-size: 1.5em;
    --size-scale: 0.0625em; /* 1/16em = 1px in base font size (16px) */
    
    --default-transition-time: 0.1s;

    --question-z-index: 1;
    --settings-button-z-index: 2;
    --overlays-z-index: 3;
    --settings-z-index: 4;
    --above-ui-z-index: 5;

    --info-width: 90vw;
    --info-max-width: 33em;
    --info-min-width: 21em;

    --palette-main-color: #123456;
    --palette-secondary-color: #476288;
    --palette-text-color: #ddf2ff;
    --palette-secondary-text-color: #dca11d;
    --palette-text-bleak-color: #bccdd8;

    --palette-text-color-filter:
        invert(90%) sepia(9%) saturate(676%) hue-rotate(180deg) brightness(102%) contrast(101%)
        drop-shadow(var(--size-scale) 0px 0px #000000)
        drop-shadow(calc((-1) * var(--size-scale)) 0px 0px #000000)
        drop-shadow(0px var(--size-scale) 0px #000000)
        drop-shadow(0px calc((-1) * var(--size-scale)) 0px #000000);

    /* This variable will be changes with javascript */
    --icon-brightness: 100%;
}

@font-face {
    font-family: 'KantoreFont';
    src: 
        local('Noto Sans CJK JP'),
        url('fonts/Noto/NotoSansJP-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'KantoreEmoji';
    src: local('Noto Color Emoji');
}

body {
    margin: 0;
    font-size: var(--base-font-size);
    font-family: KantoreFont, KantoreEmoji, sans-serif;

    background-color: var(--palette-main-color);
    color: var(--palette-text-color);
    -webkit-text-stroke: #000000 calc(2 * var(--size-scale));
    paint-order: stroke fill;

    width: 100%;
}

button, select {
    font-family: inherit;
    font-size: inherit;
}

select {
    color: var(--palette-text-color);
    border-style: inset;
}

a {
    color: var(--palette-secondary-text-color);
}

#kanji-readings-explanations-list {
    text-align: left;
    margin-top: 0px;
}

#hint-select {
    font-size: 0.9em;
}

.hint-svg-icon {
    height: 1.4em;
    min-width: 1em;
    vertical-align: bottom;
}

.hint-explanation {
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
}

.hint-emphasis {
    color: var(--palette-secondary-text-color);
}

.hint-double-characters-overlap::after,
.hint-double-icon-overlap::after,
.hint-overlap::after {
    content: attr(data-content);
    position: absolute;
}

.hint-double-characters-overlap,
.hint-double-icon-overlap,
.hint-overlap {
    position: relative;
    left: -1.125em;
    top: 0.0625em;
}

.hint-double-characters-overlap {
    left: -1.4em;
}

.hint-double-icon-overlap {
    left: -1.8em;
}

.nowrap {
    white-space: nowrap;
}

button, input {
    color: inherit;
}

#level-exp {
    position: absolute;
    right: 20px; /* standard scrollbar width */
}

.level-exp-container {
    width: 5.8em;
    height: 0.65em;
    background: #000000;
    border: calc(5 * var(--size-scale)) ridge #000000;
    border-top-left-radius: calc(5 * var(--size-scale));
    border-bottom-right-radius: calc(5 * var(--size-scale));
    box-shadow: calc(3 * var(--size-scale)) calc(3 * var(--size-scale)) calc(3 * var(--size-scale)) #000000;
    margin-bottom: calc(5 * var(--size-scale));
}

#level-current-level-exp-content {
    background: linear-gradient(90deg, #00ff00, #00cc00);
}

.level-exp-content {
    height: 100%;
    background: linear-gradient(90deg, #00ffea, #00ccbb);
}

#question {
    margin-top: 0.75em;
    text-align: center;
    position: relative;
    z-index: var(--question-z-index);
}

#question-hint {
    font-size: var(--question-hint-font-size);
}

#question-kanji {
    font-size: var(--question-kanji-font-size);
}

#answer {
    text-align: center;
    position: relative;
    z-index: var(--question-z-index);
    overflow: hidden;
}

#wrong-answer, .exp-max {
    color: var(--palette-secondary-text-color);

}

#wrong-answer {
    font-size: var(--wrong-answer-font-size);
    position: relative;
}

#answer-input {
    text-align: center;
    background: transparent;
    border: none;
    outline: none;
    font-size: var(--answer-input-font-size);
    width: 100%;
}

#info {
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(10 * var(--size-scale));
    width: var(--info-width);
    max-width: var(--info-max-width);
    min-width: var(--info-min-width);
}

#info > * {
    margin-bottom: calc(10 * var(--size-scale));
}

.summary-panel {
    padding: calc(3 * var(--size-scale)) calc(10 * var(--size-scale));
}

.buttons-panel {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.meaning-entry > li::marker,
.meaning-entry > li > span {
    color: var(--palette-text-bleak-color);
}

.meaning-entry > li > span {
    font-style: italic;
}

.meaning-entry { 
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    word-break: keep-all;
    padding-right: 1em;
}

.controls-panel {
    position: relative;
}

#hint-content {
    padding: calc(10 * var(--size-scale));
    padding-top: 2em;
}

.content-group {
    border-radius: calc(5 * var(--size-scale));
    overflow: hidden;
    background-color: var(--palette-secondary-color);
}

summary {
    cursor: pointer;
}

.level-up,
.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.level-up {
    position: fixed;
}

.centered {
    position: absolute;
}

#dialogue-text {
    padding: 0.25em;
    padding-top: initial;
}

#dialogue-content,
#level-up-hint {
    --bigger-by: 1.25em;
    border-radius: calc(5 * var(--size-scale));
    background-color: var(--palette-secondary-color);
    box-shadow: calc(5 * var(--size-scale)) calc(5 * var(--size-scale)) calc(5 * var(--size-scale)) #000000;
}

.menu,
#dialogue-content,
#level-up-hint {
    width: calc(var(--info-width) + var(--bigger-by));
    max-width: var(--info-max-width);
    min-width: var(--info-min-width);
}

#dialogue-text,
#level-up-hint-content {
    max-height: calc(90vh - 1em);
    overflow-y: auto;
    padding: 0 0.5em;
    padding-bottom: 0.25em;
}

.menu {
    --bigger-by: -5em;
}

#game-clear-text,
#level-up-text {
    display: flex;
    gap: 0.25em;
}

#game-clear-text,
#level-up-text,
#game-over-text {
    text-align: center;
    color: var(--palette-secondary-text-color);
    font-size: 3em;
    -webkit-text-stroke: var(--palette-main-color) 0.5em;
}

#level-up-black-overlay {
    opacity: 0.5;
}

.overlay-element::before,
.black-overlay {
    background-color: #000000;
    z-index: -1;
}

.overlay-element::before {
    content: '';
    width: inherit;
    height: inherit;
    display: block;
    opacity: var(--current-opacity, 0);
    transition: opacity var(--transition-time);
}

.overlay-element,
.black-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.overlay-element {
    --transition-time: var(--default-transition-time);
    --visible-opacity: 0.5;
    visibility: hidden;
    transition: visibility var(--transition-time);
    color: var(--palette-text-color);
    z-index: var(--overlays-z-index);
}

#loading {
    --visible-opacity: 0.75;
}

.startup-loading {
    --current-opacity: var(--visible-opacity);
    animation: startup-loading var(--transition-time) 0.1s forwards;
}

@keyframes startup-loading {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

#now-playing {
    position: fixed;
    top: 4em;
    left: 0.5em;
    
    border: 0.25em solid var(--palette-text-color);
    border-radius: 0.5em;
    box-shadow: 0.3em 0.3em 0.3em #000000;

    background-color: var(--palette-secondary-color);
    padding: 0.125em 0.25em;
    max-width: 85vw;
    z-index: var(--above-ui-z-index);

    transform: translateX(-120%);
}

.slide-transform {
    animation: slide-transform 7s ease-in-out;
}

@keyframes slide-transform {
    25% {
        transform: initial;
    }
    75% {
        transform: initial;
    }
    100% {
        /* empty, return to non-animation values */
    }
}

.fade-hidden {
    display: none;
    opacity: 0;
}

.exp-max-chars-container {
    display: inline-flex;
}

.jumpable {
    position: relative;
    top: 0px;
    left: 0px;
}

details {
    --animation-duration: var(--default-transition-time);
}

details > summary ~ * {
    transform-origin: top;
}

details[open] > summary ~ * {
    animation: open var(--animation-duration);
}

details.closing > summary ~ * {
    animation: close var(--animation-duration);
}

details > summary {
    list-style-type: '';
}

details > summary::before {
    content: url('icons/expand_circle_down.svg');
    display: inline-block;
    transition-property: transform;
    transition-duration: var(--animation-duration);
    transform: rotate(-90deg);
    width: 1.25em;
    height: 1.25em;
    vertical-align: -0.25em;
    filter:
        var(--palette-text-color-filter)
        brightness(var(--icon-brightness));
    transition: filter var(--details-arrow-transition-time, var(--default-transition-time));
}

details[open] > summary::before {
    transform: unset;
}

details.closing > summary::before {
    transform: rotate(-90deg);
}

@keyframes open {
    0% {
        transform: scaleY(0);
        height: 0px;
    }
    100% {
        /* empty */
    }
}

@keyframes close {
    0% {
        /* empty */
    }
    100% {
        transform: scaleY(0);
        height: 0px;
    }
}

#level-up-container {
    /* Redefining to prevent it from being changed with javascript */
    --icon-brightness: 100%;
    position: relative;
    z-index: var(--overlays-z-index);
}

.icon-button {
    width: 1.5rem;
    height: auto;
    padding: 0px;
    background: none;
    border: 0px;
    filter:
        var(--palette-text-color-filter)
        brightness(var(--icon-brightness));
    transition: filter 0.1s;
}

.icon-button:enabled {
    cursor: pointer;
}

.icon-button:enabled:hover {
    filter: 
        var(--palette-text-color-filter)
        brightness(250%)
        brightness(var(--icon-brightness));
}

.icon-button:disabled {
    filter:
        var(--palette-text-color-filter)
        invert(75%)
        brightness(var(--icon-brightness));
}

.columns-container {
    display: flex;
    flex-wrap: wrap;
}

.column-half-width {
    --column-vertical-margin: 0.5em;
    flex-basis: 50%;
}

/* All except the first 2 (starting at element 3) */
.column-half-width:nth-of-type(n + 3) {
    margin-top: var(--column-vertical-margin);
}

.column-half-width:nth-of-type(odd):last-of-type {
    flex-basis: 100%;
}

@media (max-width: 571px) {
    .column-half-width {
        flex-basis: 100%;
    }

    .column-half-width:nth-of-type(2) {
        margin-top: var(--column-vertical-margin);
    }
}

#dialogue-panel,
#level-up-hint-panel {
    text-align: center;
    color: var(--palette-secondary-text-color);
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in-out {
    animation: fade-in-out 4s forwards;
}

#particles-js {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@keyframes shake {
    0% {
        left: 0px;
    }
    12.5% {
        left: var(--minus-range);
    }
    37.5% {
        left: var(--range);
    }
    62.5% {
        left: var(--minus-range);
    }
    87.5% {
        left: var(--range);
    }
    100% {
        left: 0px;
    }
}

.shake {
    --range: 0.5em;
    --minus-range: calc((-1) * var(--range));
    animation: shake 0.5s;
}

.spinner-container {
    text-align: center;
}

.hint-spinner,
.spinner {
    border: 1em solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    border-left: 1em solid var(--palette-text-color);
    width: 2.5em;
    height: 2.5em;
    animation: spin 1s linear infinite;
}

.hint-spinner {
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-dots {
    display: inline-block;
    animation: loading-dots 1s step-end infinite;
    overflow: hidden;
    vertical-align: bottom;
}

@keyframes loading-dots {
    0% {
        width: 0.28em;
    }

    33% {
        width: 0.56em;
    }

    66% {
        width: fit-content;
    }
}

.ui-button {
    width: 2em;
}

#settings-button {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: var(--settings-button-z-index);
}

.menu-spacer {
    margin-top: 0.5em;
}

select,
#answer-submit-button,
.menu-button {
    background-color: var(--palette-secondary-color);
    transition: background-color var(--default-transition-time);
    border-radius: 1em;
    height: 1.75em;
}

select:hover,
#answer-submit-button:hover,
.menu-button:hover {
    background-color: var(--palette-main-color);
}

.menu {
    display: grid;
}

.input-label {
    display: block;
}

input[type='range'] {
    accent-color: var(--palette-secondary-color);
    transition: accent-color var(--default-transition-time);
}

input[type='range']:hover {
    accent-color: var(--palette-main-color);
}

select,
button.menu-item {
    border-color: var(--palette-text-color);
    border-width: 0.125rem;
}

button.menu-item {
    border-style: outset;
}

.menu-item.to-refocus,
.menu-item:focus {
    z-index: 1;
    outline: none;
    animation: menu-item-focus 0.25s alternate infinite;
}

.menu-item:disabled {
    filter: grayscale(50%) brightness(66%);
}

@keyframes menu-item-focus {
    0% {
        box-shadow: 0 0 0 0.125em var(--palette-secondary-text-color);
    }

    100% {
        box-shadow: 0 0 0 0.25em var(--palette-secondary-text-color);
    }
}

.key-label {
    display: block;
    background-color: var(--palette-text-color);
    border-radius: 0.25em;
    position: absolute;
    top: 2em;
    left: calc(var(--size-scale) * 4.5);
    font-size: 0.85em;
    -webkit-text-stroke: initial;
    color: #000000;
}

body:not(.game-main) .game-main-only,
body:not(.game) .game-only {
    display: none;
}

.scene-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    display: none;
}

#title-screen-container {
    height: 100%;
    display: initial;
}

#title-sub-text {
    margin-top: -0.5em;
}

#title-sub-text,
#title-text {
    width: 100%;
    text-align: center;
}

#title-text {
    font-size: var(--title-font-size);
}

#title-sub-text {
    font-size: var(--title-sub-font-size);
}

#level-select-text {
    position: absolute;
    top: calc(50% + 10.5em);
    width: 100%;
}

#title-press-start-text {
    position: absolute;
    top: calc(50% + 4.5em);
    width: 100%;
}

#pre-title-press-start-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.centered-text {
    width: 100%;
    text-align: center;
}

.blink {
    animation: blink 0.5s alternate infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#settings {
    z-index: var(--settings-z-index);
}

.float {
    position: relative;
    animation: float 1.25s ease-in-out alternate infinite;
}

@keyframes float {
    0% {
        top: 0.5rem;
    }

    100% {
        top: -0.5rem;
    }
}

#signature {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.hidden {
    display: none;
}

.jump {
    position: relative;
    animation: jump 0.5s ease;
}

@keyframes jump {
    0% {
        top: 0px;
    }

    50% {
        top: -2em;
    }

    100% {
        top: 0px;
    }
}

.slide {
    position: relative;
    animation: slide 0.25s ease-in-out;
}

@keyframes slide {
    0% {
        top: 0px;
    }

    50% {
        top: 1em;
    }

    100% {
        top: 0px;
    }
}

.scrollable {
    max-height: 40vh;
    overflow-y: auto;
    padding: 0.7em;
}

#settings-container {
    max-height: 100vh;
}

#practice-data-container {
    text-align: right;
}

#credits {
    padding: 0 0.5em;
    text-align: center;
}

#answer-submit-button {
    width: 10em;
}

#fullscreen-button {
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: var(--above-ui-z-index);
}

#time-bar {
    --full-width: 50vw;

    margin-left: auto;
    margin-right: auto;
    width: var(--full-width);
    height: 1em;

    background: linear-gradient(to right, hsl(100, 100%, 45%), hsl(100, 100%, 25%), hsl(100, 100%, 45%));
    background-size: var(--full-width);
    background-position: center;

    animation: time-bar-shrink 5s linear forwards;
}

@keyframes time-bar-shrink {
    100% {
        width: 0;
        filter: hue-rotate(-100deg);
    }
}

@media (width < 1280px) {
    #now-playing {
        top: calc(100vh - 6em);
    }
}

@media (max-width: 980px) {
    #level-exp {
        position: relative;
        width: fit-content;
        right: initial;
        left: calc(100% - 20px);
        transform: translateX(-100%);
    }
}

@media (width > 980px) {
    .mobile-only {
        display: none;
    }
}

@media (max-width: 600px) {
    #title-text {
        font-size: calc(var(--title-font-size) * 0.6);
    }

    #title-sub-text {
        font-size: calc(var(--title-sub-font-size) * 0.7);
    }
}

@media (max-width: 640px) {
    :root {
        --wrong-answer-font-size: 1.375em;
        --answer-input-font-size: 1.75em;
        --question-hint-font-size: 1.75em;
        --question-kanji-font-size: 3em;
    }
}

@media (max-width: 480px) {
    :root {
        --wrong-answer-font-size: 1.25em;
        --answer-input-font-size: 1.5em;
        --question-hint-font-size: 1.5em;
        --question-kanji-font-size: 2.5em;
    }
}

@media (max-width: 400px) {
    :root {
        --wrong-answer-font-size: 1.125em;
        --answer-input-font-size: 1.25em;
        --question-hint-font-size: 1.25em;
        --question-kanji-font-size: 2em;
    }
}

@media (max-width: 385px) {
    #title-text {
        font-size: calc(var(--title-font-size) * 0.55);
    }

    #title-sub-text {
        font-size: calc(var(--title-sub-font-size) * 0.67);
    }
}

@media (max-height: 525px) {
    #pre-title-press-start-text {
        top: calc(50% + 2em);
    }

    #level-select-text {
        top: calc(50% + 7.5em);
    }
}

@media (max-height: 400px) {
    .scrollable-container {
        margin-top: -5vh;
    }

    #main-menu {
        margin-top: 10vh;
    }

    #title-press-start-text {
        top: calc(50% + 6.5em);
    }

    #level-select-text {
        top: calc(50% + 5em);
    }
}